<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<li><a href="/auth/signup">Signup</a></li>
<li><a href="/auth/login">Login</a></li>
<li><a href="/profile">Profile</a></li>

<h2>For registered profiles :</h2>
<li><a href="/main">main</a></li>
<li><a href="/private">private</a></li>